export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

# ibus-daemon -drx

xset m 3/2 16 &

# numlockx &
# xflux -l 53.02 -g 18.60 -r 1 &
# recollindex -m -w 60 &
# telegram-desktop -startintray &
# electron --hidden /usr/lib/riot/ "$@" &
# /opt/discord/Discord &
# dropbox start &
# solaar &
# conky &

[ -z "$PICKED_SESSION" ] && PICKED_SESSION="$XDG_SESSION_DESKTOP"

[ "$KDE_FULL_SESSION" != "true" ] && {
	xsetroot -fg "#444" -bg "#555" -mod 4 4
	menutray -i &
	nm-applet &
	pasystray &

	# dunst & #notification daemon - test with: notify-send --icon=gtk-info Test "This is a test"
	/usr/lib/xfce4/notifyd/xfce4-notifyd &

	xscreensaver -no-splash &
	xss-lock -- xscreensaver-command -lock &
	
	[ "$PICKED_SESSION" == "none+cwm" ] && PICKED_SESSION="cwm"
	
	[ "$PICKED_SESSION" == "cwm" ] && tint2 &
}
echo "a picked_session jest ~$PICKED_SESSION~" >> ~/.logzxprofile

export COLORTERM=urxvtc
export TERMINAL=urxvtc

source ~/.util/ultranav.sh

xmodmap -e 'keycode 166=Prior'
xmodmap -e 'keycode 167=Next'

#setxkbmap -option caps:super
setxkbmap -option caps:ctrl_modifier
setxkbmap -option compose:menu

urxvtd -f

echo "koniec" >> ~/.logzxprofile

# vim:ft=sh
